{% include before %}

<div class="home inner-wrapper">

  <div class="post-header">
    {% include header-image %}

    <h1 class="post-title">{{ title }}</h1>
  </div>
  <div class="white-sheet">
    {% if pagination.items %}
      <ul class="post-list">
        {% for post in pagination.items %}
          {% include excerpt %}
        {% endfor %}
      </ul>

      <div class="pagination">
        {% if pagination.previousPageLink %}
          <a href="{{ pagination.previousPageLink | fix_links }}" class="previous">Previous</a>
        {% else %}
          <span class="previous"></span>
        {% endif %}
        <span class="page-number">{{pagination.pageNumber | plus: 1 }} / {{ pagination.pageLinks | size }}</span>
        {% if pagination.nextPageLink %}
          <a href="{{ pagination.nextPageLink | fix_links }}" class="next">Next</a>
        {% else %}
          <span class="next"></span>
        {% endif %}
      </div>
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</div>

{% include after %}
