<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav" id="site-nav">
      {%- for link in collections.nav -%}
        <a class="site-nav__link" href="{{ link.url | prepend: site.baseurl }}" data-order="{{ link.data.menu_order }}">{{ link.data.menu_title }}</a>
      {%- endfor -%}
    </nav>
  </div>
</header>
