<header class="site-header l-grid" role="banner">
  <div class="l-content">
    <a class="site-header__title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="header-nav" id="header-nav">
      {%- for link in collections.nav -%}
        <a class="header-nav__link" href="{{ link.url | prepend: site.baseurl }}" data-order="{{ link.data.menu_order }}">{{ link.data.menu_title }}</a>
      {%- endfor -%}
    </nav>
  </div>
</header>
