<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% if collections.nav %}
    <nav class="site-nav">
      {% for link in collections.nav %}
        <a class="site-nav__link" href="{{ link.url | prepend: site.baseurl }}" data-order="{{ link.data.menu_order }}">{{ link.data.menu_title }}</a>
      {% endfor %}
    </nav>
    {% else %}
      <nav class="site-nav">
        <a class="site-nav__link" href="/">Where is <code>collections.nav</code>? 🤔</a>
      </nav>
    {% endif %}
  </div>
</header>
