{% include before %}
  <article class="post inner-wrapper" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="hero">
      {% include header-image %}
      <h1 class="hero__title" itemprop="name title headline">{{ title }}</h1>

      <p class="hero__meta">
        {%- if page.date %}
          <time class="date" datetime={{ page.date }} itemprop="dateCreated pubdate datePublished">{{ page.date | date: "%B %e, %Y" }}</time>
        {%- endif %}
        {%- if author %}
          <span class="author" itemprop="author creator">{{ author }}</span>
        {%- endif %}
        {%- if categories %}
          <span class="categories">{% include categories %}</span>
        {%- endif %}
      </p>
    </header>

    <div class="main-content has-toc" itemprop="articleBody">
      {{ content }}

      <aside class="post-toc">
        <h5 class="post-toc__title">Table of Contents</h5>
        {{ content | toc }}
      </aside>
    </div>
  </article>
  {% include after %}
