{%- if title %}
  {%- assign meta_title = title | concat: "•" | concat: site.author_name | join: " " %}
{%- else %}
  {%- assign meta_title = site.author_name %}
{%- endif %}
{%- if excerpt %}
  {%- assign meta_desc = excerpt | strip_html | strip_newlines | truncate: 160 %}
{%- else if content %}
  {%- assign meta_desc = content | strip_html | strip_newlines | truncate: 160 %}
{%- else %}
  {%- assign meta_desc = site.description | strip_html | strip_newlines | truncate: 160 %}
{%- endif %}
<head itemscope itemtype="http://schema.org/WebSite">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="color-scheme" content="dark light">

  <title itemprop="name">{{ meta_title }}</title>
  <meta name="description" content="{{ meta_desc }}" />

  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ meta_title }}" />
  <meta property="og:description" content="{{ meta_desc }}" />
  <meta property="og:url" content="{{ page.url | abs_url: site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{ meta_desc }}" />
  <meta name="twitter:title" content="{{ meta_title }}" />
  <meta name="twitter:url" content="{{ page.url | abs_url: site.url }}" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="canonical" href="{{ page.url | abs_url: site.url }}" itemprop="url" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | abs_url: site.url }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="alternate icon" href="/favicon.ico" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#F75123" />
  <meta name="msapplication-TileColor" content="#602F9A" />
  <meta name="theme-color" content="#602F9A" />
</head>
